@content7: content7;
.@{content7}-wrapper {
  background-color: #F5F5F5;
  min-height: 720px;
  .@{content7} {
    >p {
      text-align: center;
    }
    &-img-wrapper {
      margin: 0 0;
      left: 0;
      right: 0;
      .block {
        margin-bottom: 24px;
        .content7-block-content {
          display: block;
          background: #ff6633;
          border-radius: 4px;
          //padding: 10px;
          text-align: center;
          position: relative;
          overflow: hidden;
          min-height: 265px;
          .page-pro();
          border: none;
          transition: box-shadow .3s @ease-out, transform .3s @ease-out;
          & > span {
            width: 100%;
            height: 160px;
            //display: block;
            //background: @line-color;
            //padding: 5%;
          }
          & p {
            width: 100%;
            line-height: 28px;
            text-align: left ;
            color: #fff;
            font-size: 18px;

          }
          &:hover {
            & p {
              bottom: 0;
            }
          }
        }
      }

      .block2 {
        margin-bottom: 24px;
        .content7-block-content {
          display: block;
          background: #FFA000;
          border-radius: 4px;
          //padding: 10px;
          text-align: center;
          position: relative;
          overflow: hidden;
          min-height: 265px;
          .page-pro();
          border: none;
          transition: box-shadow .3s @ease-out, transform .3s @ease-out;
          & > span {
            width: 100%;
            height: 160px;

            //display: block;
            //background: @line-color;
            //padding: 5%;
          }
          & p {
            width: 100%;
            line-height: 28px;
            color: #fff;
            font-size: 18px;

          }
          &:hover {
            & p {
              bottom: 0;
            }
          }
        }
      }

      .block3 {
        margin-bottom: 24px;
        .content7-block-content {
          display: block;
          background: #67D400;
          border-radius: 4px;
          //padding: 10px;
          text-align: center;
          position: relative;
          overflow: hidden;
          .page-pro();
          border: none;
          transition: box-shadow .3s @ease-out, transform .3s @ease-out;
          & > span {
            width: 100%;
            height: 160px;
            //display: block;
            //background: @line-color;
            //padding: 5%;
          }
          & p {
            width: 100%;
            line-height: 28px;
            text-align: left;
            color: #fff;
            font-size: 18px;
          }
          &:hover {
            & p {
              bottom: 0;
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 767px) {
  .@{content7}-wrapper {
    height: 2000px;
    overflow: hidden;
    .@{content7} {
      ul {
        li {
          display: block;
          width: 100%;
          padding: 2%;
          span {
            height: 168px;
          }
          p {
            position: relative;
            bottom: 0;
          }
        }
      }
    }
  }
}
